server {
    # Listen to port defined by Heroku
    listen $PORT default_server;

    # Serve static files for requests made to /
    location / {
        root /usr/src/app/build;
    }

    # Redirect requests made to /api
    location /api {
        proxy_pass https://my-react-backend.herokuapp.com/;
    }
}

