.bg{
  margin: auto;
}
h1.title {
  margin: auto;
}
.subTitle {
  color: #fdcb6e;
  margin: auto;
  margin-left: 3rem;
}

.text {
  color: white;
  margin-left: 5rem;
}

.square {
  height: 11rem;
  width: 10.5rem;
  background-color: grey;
}

.constraint {
  width: 95vw;
}

.team {
  height: 20rem;
}

.teamText {
  color: white;
}

.teamTextBold {
  color: #0984e3;
}

img.team {
  height: 11rem;
  width: 10.5rem;
}

img.logo {
  width: 13.5rem;
}
@media only screen and (max-width: 414px) {
  .square {
    margin: auto;
    height: 15rem;
  }
  img.team {
    height: 15rem;
    width: 14.5rem;
    margin: auto;
  }
  .teamTextBold {
    padding-left: 1rem;
  }
  .teamText {
    padding-left: 1rem;
  }
  .subTitle {
    margin-left: 4rem;
  }
  .team {
    height: 35rem;
  }
  footer.whoFooter {
    padding-top: 12rem;
  }
}